<h1 class="text-center mb-4">Bienvenue sur The Gossip Project</h1>

<div class="container">
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <p class="card-text">Par <%= gossip.user.first_name %></p>
            <%= link_to 'Voir plus', gossip_path(gossip), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
